<div>


    <main>

        <!-- Slider Area Start-->
        <div class="slider-area contacto-bg ">
            <!-- Single Slider -->
            <div class="single-slider d-flex align-items-center slider-height3">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-8 col-lg-9 col-md-12 ">
                            <div class="hero__caption hero__caption3 text-center">
                                <h1 data-animation="fadeInLeft" data-delay=".6s ">Contacta-nós</h1>
                                <p data-animation="fadeInLeft" data-delay=".8s">
                                    Estamos disponíveis para esclarecer dúvidas, apresentar soluções e apoiar o seu negócio.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Shape -->
            <div class="slider-shape d-none d-lg-block">
                <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
            </div>
        </div>
        <!-- Slider Area End -->

        <!--? Pricing Card Start -->
        <section class="pricing-card-area pricing-card-area2 fix">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                        <div class="single-card text-center mb-30">
                            <div class="card-top">
                                <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                                <h4>Telefone</h4>
                                <h3>+244 XXX XXX XXX</h3>
                                <p>De segunda a sexta, das 7h00 as 16h00.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                        <div class="single-card text-center mb-30">
                            <div class="card-top">
                                <span class="contact-info__icon"><i class="ti-email"></i></span>
                                <h4>Email</h4>
                                <h3>info@ubiadata.com</h3>
                                <p>Envie-nos sua pergunta a qualquer momento!</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-10">
                        <div class="single-card text-center mb-30">
                            <div class="card-top">
                                <span class="contact-info__icon"><i class="ti-home"></i></span>
                                <h4>Endereço</h4>
                                <h3>Luanda, Angola</h3>
                                <p>Luanda</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Pricing Card End -->


        <!--?  Contact Area start  -->
        <section class=" ">
            <div class="container">
                <div class="  d-sm-block mb-5 pb-4" style="height: 444px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126472.39271152742!2d13.1308717!3d-8.8399876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a5206abfdd3e4a7%3A0x6b1c1d2e999490e!2sLuanda!5e0!3m2!1spt-PT!2sao!4v1695658930000!5m2!1spt-PT!2sao"
                        allowfullscreen="" loading="lazy" width="100%" height="100%" style="border: 0" referrerpolicy="no-referrer-when-downgrade">
          </iframe>
                </div>

            </div>
        </section>
        <!-- Contact Area End -->
    </main>
</div>