<main>
    <!-- Slider Area Start  PORQUÊ ESCOLHER -->
    <div class="slider-area slider-bg ">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider d-flex align-items-center slider-height ">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-6 col-lg-6 col-md-9 ">
                            <div class="hero__caption">
                                <span data-animation="fadeInLeft" data-delay=".3s">Transformando dados em decisões
                                  inteligentes.</span>
                                <h1 data-animation="fadeInLeft" data-delay=".6s ">Gestão de Dados Inteligente </h1>
                                <p data-animation="fadeInLeft" data-delay=".8s">Na UbiaData, unimos tecnologia, inteligência e compromisso para transformar desafios em resultados. O seu crescimento é a nossa missão.</p>
                                <!-- Slider btn -->
                                <div class="slider-btns">
                                    <!-- Hero-btn -->
                                    <a data-animation="fadeInLeft" data-delay="1s" href="industries.html" class="btn radius-btn">get started</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="hero__img d-none d-lg-block f-right">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Slider Shape -->
        <div class="slider-shape d-none d-lg-block">
            <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
        </div>
    </div>
    <!-- Slider Area End -->




    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-lg-5 col-md-12 sidebar">


                <video width="640" height="360" class="sidebar-image" controls autoplay muted loop>
                  <source src="assets/img/hero/clareza2.mp4" type="video/mp4">
                  Seu navegador não suporta vídeo HTML5.
              </video>



                <div class="image-overlay"></div>
                <div class="metrics-box">
                    <div class="d-flex align-items-center mb-4">
                        <div class="metric-value me-3">4.8+</div>
                        <div class="metric-description">
                            Índice médio de **satisfação de clientes** em projetos entregues
                        </div>
                    </div>

                    <div class="metric-value mb-1">50%</div>
                    <div class="metric-description">
                        **Retorno médio sobre investimento (ROI)** reportado por organizações que adotaram nossos sistemas de apoio à decisão.
                    </div>
                </div>

            </div>

            <div class="col-lg-7 col-md-12 content-section">
                <h2 class="mb-5">
                    Clareza nos Dados. <br> Confiança nas Decisões
                </h2>

                <p>
                    Na UbiaData, acreditamos que dados claros, fiáveis e bem estruturados são a base de decisões eficazes e de resultados sustentáveis nos processos de desenvolvimento. Combinamos análises avançadas, conhecimento profundo do sector e entendimento do contexto
                    local para capacitar entidades públicas, empresas privadas e comunidades com inteligência accionável, orientada para a tomada de decisão estratégica.
                </p>

                <h5 class="mt-4">Gestão Baseada em Resultados</h5>
                <p>
                    Soluções estratégicas com impacto mensurável, focadas na melhoria dos serviços e na optimização da gestão de recursos.
                </p>

                <h5 class="mt-4">Parcerias Colaborativas</h5>
                <p>
                    Trabalhamos em estreita colaboração com parceiros institucionais, empresas privadas e comunidades locais, assegurando o desenvolvimento de soluções contextualizadas, inclusivas e sustentáveis, alinhadas às realidades e prioridades locais
                </p>
            </div>
        </div>
    </div>



    <!-- Domain-search start -->
    <div class="domain-search-area section-bg1 " style="padding: 1% 1% 10% 1%;">
        <div class="container ">
            <div class="row">
                <div class="col-xl-5 col-lg-5">
                    <div class="justify-content-center" style="padding-top: 51px;">

                        <h2>Tecnologias </h2>
                        <p>Utilizamos ferramentas modernas e confiáveis para garantir eficiência, automação e decisões baseadas em dados.</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7">
                    <!--Hero form -->

                    <!-- Domain List -->
                    <div class="single-domain pt-30 pb-30">

                        <div class="slider-container">
                            <div class="slider" id="slider">
                                <div class="slide">
                                    <img src="assets/img/icon/icon1.png" alt="Cliente 1" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon3.png" alt="Cliente 2" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon2.png" alt="Cliente 3" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon4.png" alt="Cliente 4" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon5.png" alt="Cliente 5" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon6.png" alt="Cliente 6" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon7.png" alt="Cliente 7" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon8.png" alt="Cliente 8" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon9.png" alt="Cliente 9" />
                                </div>

                                <!-- Clones para efeito infinito -->

                                <div class="slide">
                                    <img src="assets/img/icon/icon1.png" alt="Cliente 1" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon3.png" alt="Cliente 2" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon2.png" alt="Cliente 3" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon4.png" alt="Cliente 4" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon5.png" alt="Cliente 5" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon6.png" alt="Cliente 6" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon7.png" alt="Cliente 7" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon8.png" alt="Cliente 8" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon9.png" alt="Cliente 9" />
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- Domain List  End-->
                </div>
            </div>
        </div>
    </div>
    <!-- Domain-search End -->





    <!--? serviços Start -->
    <section class="pricing-card-area fix ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-tittle text-center mb-90">
                        <h2>Nossos Serviços</h2>
                        <p>
                            Trabalhamos para entregar resultados mensuráveis e valor tangível, reforçando nosso compromisso com o sucesso de cada cliente.

                        </p>
                    </div>
                </div>
            </div>


            <section class="services">
                <div class="services-grid">

                    <div class="card bg-dark1">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services1.png" alt="">
                        </div>
                        <h3 style="color: rgb(255, 255, 255);">Relatórios e Dashboard</h3>
                        <p>
                            Decisões rápidas com dados visuais | Redução de tempo | Maior clareza e compreensão dos dados

                        </p>
                    </div>

                    <div class="card">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services4.svg" alt="">
                        </div>
                        <h3>Tarefas e Relatórios</h3>
                        <p>
                            Redução de erros | Aumento da produtividade | Focando em tarefas estratégicas
                        </p>
                    </div>

                    <div class="card bg-dark2">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services3.png" alt="">
                        </div>
                        <h3 style="color: rgb(255, 255, 255);">Criação de pipelines</h3>
                        <p>
                            Integração dos dados entre sistemas | Redução de falhas e atrasos nos fluxos de dados.
                        </p>
                    </div>

                    <div class="card">
                        <div class="cat-icon">
                            <img src="assets/img/icon/services6.svg" alt="">
                        </div>
                        <h3>Base de Dados</h3>
                        <p>
                            Criação e Manutenção | Armazenamento seguro | Acesso rápido e eficiente a dados críticos| Suporte a análises
                        </p>
                    </div>

                    <div class="  bg-dark">

                    </div>

                    <div class="card">
                        <i class="fa-solid fa-heart"></i>
                        <h3>Consultoria e Treinamento</h3>
                        <p>
                            Equipe capacitada | Aumento da autonomia e eficiência da equipe | Melhoria contínua
                        </p>
                    </div>

                </div>
            </section>


        </div>
    </section>
    <!-- serviços End -->



    <!--? About-1 Area Start -->
    <div class="about-area1 section-padding40">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                    <!-- about-img -->
                    <div class="about-img ">
                        <img src="assets/img/hero/porque.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="about-caption ">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-30">
                            <h2>Porquê Escolher-nos </h2>
                        </div>
                        <p>
                            Na UbiaData, acreditamos que os dados só geram valor quando se transformam em informação clara e prática.
                        </p>
                        <p class="mb-40">Oferecemos serviços de consultoria em análise de dados, ajudando empresas de diferentes setores a organizar, automatizar e visualizar as suas informações de forma estratégica.</p>
                        <ul>
                            <li>
                                <img src="assets/img/icon/right4.png" alt="">
                                <p>Dashboards em Power BI e Excel, automatização de relatórios com Macros e Power Query, reduzindo tarefas manuais.</p>
                            </li>
                            <li>
                                <img src="assets/img/icon/right2.png" alt="">
                                <p>Consultoria em indicadores (KPIs), apoiando a definição e acompanhamento de métricas.</p>
                            </li>
                            <li>
                                <img src="assets/img/icon/right3.png" alt="">
                                <p> Treinamento prático em Excel avançado, Power BI e análise de dados.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About-1 Area End -->


    <!--? About-2 Area Start -->
    <div class="about-area1 pb-bottom">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="about-caption about-caption3 mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 mb-30">
                            <h2>Suporte dedicado </h2>
                        </div>
                        <p class="">Oferecemos um suporte dedicado e personalizado, garantindo acompanhamento contínuo em todas as etapas do projeto. A nossa equipa está disponível para esclarecer dúvidas, prestar assistência técnica e assegurar o pleno funcionamento
                            das soluções implementadas.</p>
                        <p class="mb-40">Mais do que resolver problemas, atuamos de forma proativa, apoiando a sua equipa na utilização de dashboards, relatórios e ferramentas analíticas, promovendo autonomia, eficiência e confiança na tomada de decisões.</p>

                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                    <!-- about-img -->
                    <div class="about-img ">

                        <img src="assets/img/hero/hero_right.png" alt="" data-animation="fadeInRight" data-delay="1s">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About-2 Area End -->








    <!-- Support Area Start -->
    <section class="support-area section-bg2 pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-5">
                    <div class="support-caption">
                        <!-- Section Tittle -->
                        <div class="section-tittle">
                            <h2 class="suporte">Pronto para dar o próximo passo?</h2>
                            <p class="support-details suporte">Contamos com uma equipa de especialistas experientes, reconhecidos pela excelência e dedicação no setor. Fale com os nossos colaboradores e descubra como podemos responder às suas necessidades.</p>
                        </div>
                        <a href="#" class="btn"><i class="fas fa-phone-alt"></i>(244) 922-000 000 000</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <img src="assets/img/icon/email-service.png" alt="" class="quotes-sign" style="width: 100%;">
                </div>
            </div>
        </div>
    </section>
    <!-- Support Area End -->



    <!--? Testimonial Area Start -->
    <section class="testimonial-area section-bg1">
        <div class="container">
            <div class="testimonial-wrapper">
                <div class="row align-items-center justify-content-center">
                    <div class=" col-lg-10 col-md-12 col-sm-11">
                        <!-- Testimonial Start -->
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center mt-55">
                                <div class="testimonial-caption">
                                    <img src="assets/img/icon/quotes-sign.png" alt="" class="quotes-sign">
                                    <p>O nosso compromisso é garantir estabilidade, evolução contínua e resultados consistentes, sempre alinhados às necessidades do seu negócio.</p>
                                </div>
                                <!-- founder -->

                            </div>
                            <!-- Single Testimonial -->

                        </div>
                        <!-- Testimonial End -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--? Testimonial Area End -->
</main>