<div>
 
    <header class="hero-section">
        <div class="container">

            <h1 class="hero-title">Transformamos dados em <strong class="text-laranja">decisões
                    inteligentes!</strong></h1>
            <p class="hero-text">Na <strong>UbiaData</strong> , transformamos dados em valor. Com Gestão de Dados
                Inteligente, tecnologia avançada e compromisso com a excelência, impulsionamos o crescimento sustentável
                dos nossos clientes.</p>
            <a href="#" class="btn btn-saiba-mais mt-3">Saiba Mais</a>
        </div>
    </header>

    <section class="container pillars-container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card-pilar">
                    <i class="fas fa-handshake"></i>
                    <h4>Confiança</h4>
                    <p>Sobre ela estruturamos todas as nossas atitudes, buscando fortalecê-la a cada dia através de
                        um trabalho íntegro e de qualidade.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card-pilar">
                    <i class="fas fa-award"></i>
                    <h4>Credibilidade</h4>
                    <p>Uma qualidade que se conquista com um trabalho de excelência oferecido de maneira uniforme a
                        todos os nossos clientes.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card-pilar">
                    <i class="fas fa-balance-scale"></i>
                    <h4>Ética</h4>
                    <p>Um pilar fundamental baseado em nossos valores que norteia as ações de nossa equipe,
                        definindo critérios para a manipulação de informações de nossos clientes.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="domain-search-area  " style="padding: 1% 1% 1% 1%;">
        <!-- Domain-search start -->
        <div class="container ">
            <div class="row">

                <div class="col-xl-12 col-lg-12">
                    <!--Hero form -->
                    <!-- Domain List -->
                    <div class="single-domain pt-30 pb-30 ">

                        <div class="slider-container ">
                            <div class="slider" id="slider">
                                <div class="slide">
                                    <img src="assets/img/icon/icon1.png" alt="Cliente 1" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon3.png" alt="Cliente 2" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon2.png" alt="Cliente 3" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon4.png" alt="Cliente 4" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon5.png" alt="Cliente 5" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon6.png" alt="Cliente 6" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon7.png" alt="Cliente 7" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon8.png" alt="Cliente 8" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon9.png" alt="Cliente 9" />
                                </div>

                                <!-- Clones para efeito infinito -->

                                <div class="slide">
                                    <img src="assets/img/icon/icon1.png" alt="Cliente 1" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon3.png" alt="Cliente 2" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon2.png" alt="Cliente 3" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon4.png" alt="Cliente 4" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon5.png" alt="Cliente 5" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon6.png" alt="Cliente 6" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon7.png" alt="Cliente 7" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon8.png" alt="Cliente 8" />
                                </div>
                                <div class="slide">
                                    <img src="assets/img/icon/icon9.png" alt="Cliente 9" />
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- Domain List  End-->
                </div>
            </div>
        </div>
        <!-- Domain-search End -->
    </section>



    <section class="services-section">
        <div class="container">
            <h2 class="section-title">Serviços</h2>
            <p class="section-subtitle">Trabalhamos para entregar resultados mensuráveis e valor tangível,
                reforçando nosso compromisso <br>
                com o sucesso de cada cliente.</p>


            <div class="row">
                <div class="col-md-4 service-box">
                    <i class="fas fa-chart-line service-icon"></i>
                    <div class="service-content">
                        <h5>Relatórios e Dashboard</h5>
                        <p>Decisões rápidas com dados visuais | Redução de tempo | Maior clareza e compreensão dos
                            dados...</p>

                    </div>
                </div>
                <div class="col-md-4 service-box">
                    <i class="fas fa-calculator service-icon"></i>
                    <div class="service-content">
                        <h5>Tarefas e Relatórios</h5>
                        <p>Redução de erros | Aumento da produtividade | Focando em tarefas estratégicas...</p>

                    </div>
                </div>
                <div class="col-md-4 service-box">
                    <i class="fas fa-users service-icon"></i>
                    <div class="service-content">
                        <h5>Criação de pipelines</h5>
                        <p>Integração dos dados entre sistemas | Redução de falhas e atrasos nos fluxos de dados...</p>

                    </div>
                </div>










                <div class="col-md-4 service-box">
                    <i class="fas fa-file-invoice-dollar service-icon"></i>
                    <div class="service-content">
                        <h5>Base de Dados</h5>
                        <p>Criação e Manutenção | Armazenamento seguro | Acesso rápido e eficiente a dados críticos|
                            Suporte a análises...</p>

                    </div>
                </div>
                <div class="col-md-4 service-box">
                    <i class="fas fa-gavel service-icon"></i>
                    <div class="service-content">
                        <h5>Consultoria e Treinamento</h5>
                        <p>Equipe capacitada | Aumento da autonomia e eficiência da equipe | Melhoria contínua...</p>

                    </div>
                </div>
                <div class="col-md-4 service-box">
                    <i class="fas fa-percentage service-icon"></i>
                    <div class="service-content">
                        <h5>Planejamento Tributário</h5>
                        <p>O planejamento tributário trata-se de uma forma lícita de reduzir a carga fiscal das
                            empresas. Para...</p>

                    </div>
                </div>
            </div>

            <a href="#" class="service-link">saiba mais <i class="far fa-arrow-alt-circle-right"></i></a>
        </div>
    </section>



    <section>
        <div class="container-fluid">
            <div class="row g-0 reverter">
                <div class="col-lg-5 col-md-12 ">


                    <video width="640" height="360" class="sidebar-image" controls autoplay muted loop>
                        <source src="assets/img/hero/clareza2.mp4" type="video/mp4">
                        Seu navegador não suporta vídeo HTML5.
                    </video>

                    <div class="image-overlay"></div>
                </div>

                <div class="col-lg-7 col-md-12 content-section">
                    <h2 class="hero-title">
                        Clareza nos Dados. <br> Confiança nas Decisões
                    </h2>

                    <p>
                        Na UbiaData, acreditamos que dados claros, fiáveis e bem estruturados são a base de decisões
                        eficazes e de resultados sustentáveis nos processos de desenvolvimento. Combinamos análises
                        avançadas, conhecimento profundo do sector e entendimento do contexto
                        local para capacitar entidades públicas, empresas privadas e comunidades com inteligência
                        accionável, orientada para a tomada de decisão estratégica.
                    </p>

                    <h5 class="mt-4">Gestão Baseada em Resultados</h5>
                    <p>
                        Soluções estratégicas com impacto mensurável, focadas na melhoria dos serviços e na
                        optimização da gestão de recursos.
                    </p>

                    <h5 class="mt-4">Parcerias Colaborativas</h5>
                    <p>
                        Trabalhamos em estreita colaboração com parceiros institucionais, empresas privadas e
                        comunidades locais, assegurando o desenvolvimento de soluções contextualizadas, inclusivas e
                        sustentáveis, alinhadas às realidades e prioridades locais
                    </p>
                </div>
            </div>
        </div>
    </section>




    <section class="section-padding">
        <div class="container">


            <div class="row align-items-center section-padding pt-4 pb-5">
                <div class="col-md-6 mb-4 mb-md-0">
                    <img :src="tratamentos[0].imagem" :alt="tratamentos[0].nome" class="treatment-img shadow-sm">
                </div>
                <div class="col-md-6 pl-md-5">
                    <h3 class="font-serif mb-3" style="font-size: 2.2rem; color: var(--primary-navy);">
                        Porquê Escolher a <strong class="text-laranja">UbiaData </strong> 
                    </h3>

                    <div class="mb-3">
                        <span class="badge-feature" v-for="tag in tratamentos[0].tags">✓ {{ tag }}</span>
                    </div>

                    <p class="text-muted mb-4">{{ tratamentos[0].descricao }}</p>


                </div>
            </div>
 
        </div>
    </section>

    <div class="footer-section">
        <div class="container">
            <div class="row align-items-centerpr-md-5" style="text-align: center;">
                  <h3 class="font-serif mb-3 p-3"  > Gestão de Dados
                        Inteligente para empresas que querem crescer com informação confiável e decisões estratégicas.
                    </h3> 
            </div>
        </div>
    </div>

    <section class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5 mb-md-0">
                    <form @submit.prevent="enviarFormulario">
                        <div class="form-group">
                            <input type="text" class="form-control" v-model="form.nome" placeholder="Seu nome*"
                                required>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="email" class="form-control" v-model="form.email" placeholder="Seu e-mail*"
                                    required>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" v-model="form.telefone"
                                    placeholder="Seu telefone*" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" v-model="form.mensagem" rows="3" placeholder="Mensagem"
                                required></textarea>
                        </div>

                        <div class="mb-4 bg-light text-dark p-3 rounded d-inline-block" style="border: 1px solid #ccc;">
                            <input type="checkbox" id="captcha" v-model="form.captcha" class="mr-2"
                                style="margin:0; width:auto; height:auto; display:inline-block;" required>
                            <label for="captcha" class="mb-0 text-secondary font-weight-normal"
                                style="font-size:0.85rem;">Não sou um robô</label>
                            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/RecaptchaLogo.svg"
                                alt="recaptcha" class="ml-4" style="height:30px;">
                        </div>

                        <div>
                            <button type="submit" class="btn btn-enviar">Enviar</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 offset-md-1 contact-info-box">
                    <h2>Fale conosco</h2>
                    <p>Nos envie uma mensagem preenchendo o formulário, entraremos em contato o mais rápido
                        possível!</p>
                    <p class="mt-4">Se preferir, tire suas dúvidas através do telefone:</p>
                    <span class="phone-number">(+244) 932 252 618</span>
                </div>
            </div>
        </div>
    </section>


</div>