<div>
    <main>
        <!-- Slider Area Start-->
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg ">
            <!-- Single Slider -->
            <div class="single-slider d-flex align-items-center slider-height3">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-8 col-lg-9 col-md-12 ">
                            <div class="hero__caption hero__caption3 text-center">
                                <h1 data-animation="fadeInLeft" data-delay=".6s ">Nossos Serviços</h1>
                                <p data-animation="fadeInLeft" data-delay=".8s">
                                    Transformamos dados em informação estratégica para ajudar a sua empresa a tomar decisões mais inteligentes, reduzir custos e aumentar a eficiência operacional.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Shape -->
            <div class="slider-shape d-none d-lg-block">
                <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
            </div>
        </div>
        <!-- Slider Area End -->
        <!-- Slider Area End -->
        <!--? Pricing Card Start -->

        <!-- Pricing Card End -->


        <!--? About-1 Area Start -->

        <!-- About-1 Area End -->


        <!--? About-1 Area Start -->
        <div class="about-area1 section-padding40">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="assets/img/gallery/about1.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="about-caption ">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-30">
                                <h2>Criação de Relatórios e Dashboards</h2>
                            </div>
                            <p class="mb-40">Desenvolvemos relatórios e dashboards interativos que transformam dados complexos em informações claras, visuais e estratégicas. Utilizamos ferramentas como Power BI, Tableau e Excel para apoiar a tomada de decisão em tempo
                                real, alinhada aos objetivos do negócio.</p>
                            <ul>
                                <li>
                                    <p>Decisões mais rápidas e assertivas com dados atualizados.</p>
                                </li>
                                <li>
                                    <p>Redução do tempo gasto na elaboração de relatórios manuais.</p>
                                </li>
                                <li>
                                    <p> Maior clareza e compreensão dos indicadores de desempenho.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-1 Area End -->
        <!--? About-2 Area Start -->
        <div class="about-area1 pb-bottom">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="about-caption about-caption3 mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-30">
                                <h2>Automação de Tarefas e Relatórios</h2>
                            </div>
                            <p class="mb-40">Automatizamos processos repetitivos e relatórios operacionais, reduzindo erros humanos e aumentando a eficiência. Aplicamos soluções com Macros, Power Query, SSIS e Python, adaptadas à realidade de cada empresa.</p>
                            <ul class="mb-30">
                                <li>
                                    <img src="assets/img/icon/right.svg" alt="">
                                    <p>Menos erros e maior confiabilidade nos dados.</p>
                                </li>
                                <li>
                                    <img src="assets/img/icon/right.svg" alt="">
                                    <p>Aumento significativo da produtividade da equipa.</p>
                                </li>
                                <li>
                                    <img src="assets/img/icon/right.svg" alt="">
                                    <p>Mais foco em tarefas estratégicas, e menos em atividades operacionais.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="assets/img/gallery/about2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-area1 pb-bottom">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="assets/img/gallery/about2.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="about-caption about-caption3 mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-30">
                                <h2>Criação de Pipelines de Dados</h2>
                            </div>
                            <p class="mb-40">Projetamos e implementamos pipelines de dados robustos para garantir a integração, transformação e disponibilização eficiente das informações entre diferentes sistemas e fontes.</p>
                            <ul class="mb-30">
                                <li>
                                    <img src="assets/img/icon/right.svg" alt="">
                                    <p>Integração eficiente e organizada entre sistemas.</p>
                                </li>
                                <li>
                                    <img src="assets/img/icon/right.svg" alt="">
                                    <p>Processamento de dados mais rápido e confiável.</p>
                                </li>
                                <li>
                                    <img src="assets/img/icon/right.svg" alt="">
                                    <p>Redução de falhas, atrasos e retrabalho nos fluxos de dados.</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="about-area1 pb-bottom">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="about-caption about-caption3 mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-30">
                                <h2>Criação e Manutenção de Bases de Dados</h2>
                            </div>
                            <p class="mb-40">Criamos e mantemos bases de dados seguras, estruturadas e escaláveis, utilizando tecnologias como SQL Server, MySQL e NoSQL, garantindo suporte sólido para análises e relatórios avançados.</p>
                            <ul class="mb-30">
                                <li>
                                    <img src="assets/img/icon/right.svg" alt="">
                                    <p>Armazenamento seguro e bem estruturado dos dados.</p>
                                </li>
                                <li>
                                    <img src="assets/img/icon/right.svg" alt="">
                                    <p>Acesso rápido e eficiente a informações críticas.</p>
                                </li>
                                <li>
                                    <img src="assets/img/icon/right.svg" alt="">
                                    <p>Base confiável para análises, relatórios e decisões estratégicas.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="assets/img/gallery/about2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-area1 pb-bottom">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="assets/img/gallery/about2.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="about-caption about-caption3 mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-30">
                                <h2>Consultoria e Treinamento</h2>
                            </div>
                            <p class="mb-40">Oferecemos consultoria especializada e treinamentos práticos para capacitar equipas no uso de Excel, Power BI, SQL Server e SSIS, promovendo autonomia e melhoria contínua dos processos.</p>
                            <ul class="mb-30">
                                <li>
                                    <img src="assets/img/icon/right.svg" alt="">
                                    <p>Equipa mais preparada e confiante no uso das ferramentas.</p>
                                </li>
                                <li>
                                    <img src="assets/img/icon/right.svg" alt="">
                                    <p>Aumento da autonomia e eficiência operacional.</p>
                                </li>
                                <li>
                                    <img src="assets/img/icon/right.svg" alt="">
                                    <p>Processos otimizados com conhecimento atualizado e aplicado à prática.</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- About-2 Area End -->
    </main>
</div>