<header>

    <div class="top-bar d-none d-md-block">
        <div class="container d-flex justify-content-between">
            <div>
                <i class="fas fa-comments mr-2"></i> Fale Conosco <strong> +244 932 252 618</strong>
            </div>
            <div>
                <i class="far fa-clock mr-2"></i> Atendimento: Seg a sex das 7h30 às 17h
                <a href="#" class="ml-4"><i class="far fa-map  mr-1"></i> Luanda, Angola</a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow-sm" :class="{ 'navbar-fixed-animated': isFixed }">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="#" style="font-size: 1.8rem; letter-spacing: -1px; color:#1c2630; line-height: 1;">
             <img style="width: 180px;" src="assets/img/logo/logo.png" alt="">
            </a>
            
            <button class="navbar-toggler" type="button" @click="isMenuAberto = !isMenuAberto" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" :class="{ 'show': isMenuAberto }" id="navbarNav">
                <ul class="navbar-nav ml-auto align-items-lg-center">
                    <li class="nav-item"><a class="nav-link" href="#/">Início</a></li>
                    <li class="nav-item"><a class="nav-link" href="#/sobre" >Sobre a UBIA</a></li>
                    <li class="nav-item"><a class="nav-link" href="#/servicos">Serviços</a></li> 
                    <li class="nav-item"><a class="nav-link" href="#/contato">Contato</a></li>
                   
                </ul>
            </div>
        </div>
    </nav>

 
    
</header>

 
