<div>

    <main>
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg ">
            <!-- Single Slider -->
            <div class="single-slider d-flex align-items-center slider-height3">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-8 col-lg-9 col-md-12 ">
                            <div class="hero__caption hero__caption3 text-center">
                                <h1 data-animation="fadeInLeft" data-delay=".6s ">Sobre Nós</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Shape -->
            <div class="slider-shape d-none d-lg-block">
                <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
            </div>
        </div>
        <!-- Slider Area End -->




        <!--? About-2 Area Start -->
        <div class="about-area1 section-padding40">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="about-caption about-caption3 mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-30">
                                <h2>Sobre Nós</h2>
                            </div>
                            <p class="mb-40">
                                Na UbiaData, acreditamos que os dados só geram valor quando se transformam em informação clara, prática e estratégica.

                            </p>
                            <p>Somos uma empresa especializada em análise de dados, business intelligence e automação de relatórios, apoiando organizações de diferentes setores a organizar, analisar e visualizar as suas informações de forma eficiente.
                            </p>
                            <p>
                                Combinamos tecnologia, metodologia e conhecimento analítico para ajudar gestores e equipas a tomar decisões mais rápidas, seguras e baseadas em dados. Desde o tratamento e integração de dados até a criação de dashboards interativos e capacitação das equipas,
                                trabalhamos com foco em resultados mensuráveis e impacto real no negócio.
                            </p>

                            <a href="#" class="btn"><i class="fas fa-phone-alt"></i>Comece um Projecto</a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <!-- about-img -->
                        <div class="about-img ">
                            <img src="assets/img/hero/sharing.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-2 Area End -->



        <div class="container-fluid">
            <div class="row g-0">
                <div class="col-lg-5 col-md-12 sidebar">


                    <video width="640" height="360" class="sidebar-image" controls autoplay muted loop>
                        <source src="assets/img/hero/clareza2.mp4" type="video/mp4">
                        Seu navegador não suporta vídeo HTML5.
                    </video>



                    <div class="image-overlay"></div>
                    <div class="metrics-box">
                        <div class="d-flex align-items-center mb-4">
                            <div class="metric-value me-3">4.8+</div>
                            <div class="metric-description">
                                Índice médio de **satisfação de clientes** em projetos entregues
                            </div>
                        </div>

                        <div class="metric-value mb-1">50%</div>
                        <div class="metric-description">
                            **Retorno médio sobre investimento (ROI)** reportado por organizações que adotaram nossos sistemas de apoio à decisão.
                        </div>
                    </div>

                </div>

                <div class="col-lg-7 col-md-12 content-section">
                    <h2 class="mb-5">
                        Clareza nos Dados. <br> Confiança nas Decisões
                    </h2>

                    <p>
                        Na UbiaData, acreditamos que dados claros, fiáveis e bem estruturados são a base de decisões eficazes e de resultados sustentáveis nos processos de desenvolvimento. Combinamos análises avançadas, conhecimento profundo do sector e entendimento do contexto
                        local para capacitar entidades públicas, empresas privadas e comunidades com inteligência accionável, orientada para a tomada de decisão estratégica.
                    </p>

                    <h5 class="mt-4">Histórico Comprovado</h5>
                    <p>
                        A nossa equipa reúne experiência consolidada no apoio a iniciativas públicas e privadas, desenvolvendo e implementando soluções baseadas em dados que promovem o desenvolvimento sustentável em Angola.
                    </p>

                    <h5 class="mt-4">Gestão Baseada em Resultados</h5>
                    <p>
                        Soluções estratégicas com impacto mensurável, focadas na melhoria dos serviços e na optimização da gestão de recursos.
                    </p>

                    <h5 class="mt-4">Parcerias Colaborativas</h5>
                    <p>
                        Trabalhamos em estreita colaboração com parceiros institucionais, empresas privadas e comunidades locais, assegurando o desenvolvimento de soluções contextualizadas, inclusivas e sustentáveis, alinhadas às realidades e prioridades locais
                    </p>
                </div>
            </div>
        </div>











        <!-- ask questions -->
        <section class="ask-questions section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-10 ">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 text-center mb-90">
                            <h2>Perguntas Frequentes</h2>
                            <p>Encontre respostas rápidas sobre os serviços da UbiaData, incluindo análise de dados, dashboards, automação de relatórios e treinamentos. Se tiver outras dúvidas, entre em contacto connosco.!</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-question  single-question2 d-flex mb-50">
                            <span> Q.</span>
                            <div class="pera">
                                <h2>O que é a UbiaData?</h2>
                                <p>A UbiaData é uma empresa especializada em análise de dados, dashboards e automação de relatórios para apoiar decisões estratégicas</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-question  single-question2 d-flex mb-50">
                            <span> Q.</span>
                            <div class="pera">
                                <h2>Quais serviços vocês oferecem?</h2>
                                <p>Criamos dashboards em Power BI e Excel, automatizamos relatórios, definimos KPIs e oferecemos treinamentos práticos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-question  single-question2 d-flex mb-50">
                            <span> Q.</span>
                            <div class="pera">
                                <h2>Os dashboards são personalizados?</h2>
                                <p>Sim. Todos os dashboards são desenvolvidos de acordo com os objetivos e necessidades de cada cliente.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-question  single-question2 d-flex mb-50">
                            <span> Q.</span>
                            <div class="pera">
                                <h2>A UbiaData oferece treinamento?</h2>
                                <p>Sim. Oferecemos treinamentos em Excel Avançado, Power BI e análise de dados.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <div class="more-btn text-center mt-20">
                            <a href="#" class="btn">Falar com o Suporte<</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End ask questions -->
    </main>
</div>